<div class="container mt-5">
  <div class="row">
    <div class="col">
      <header class="text-right">
        <div class="tag-title m-2">
          <% @tags.each do |tag| %>
             <% @posts.each do |post| %>
              <% if post.is_active ==false %>
                <span class="badge  badge-primary mr-2 p-2">
                  <%= link_to "#{tag.name}(#{tag.taggings_count})", public_user_posts_path(@user.id,tag_name: tag.name), class: "text-white" %>
                </span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </header>
      <div class="table-all">
        <h5 class="m-3 text-center">投稿一覧</h5>
        <table class= "table m-4">
           <thead>
             <tr>
                <th>タイトル</th>
                <th>ジャンル名</th>
                <th>料理画像</th>
                <th>いいね数</th>
                <th>料理詳細</th>
             </tr>
            </thead>
            <tbody>
              <% @posts.each do |post| %>
                <% if post.is_active ==false %>
                <% else %>
                  <tr>
                    <td><%= post.title %></td>
                    <td><%= post.genre_name %></td>
                    <td>
                      <% post.images.each do |post| %>
                        <%= image_tag (post.url),width: '30px', height: '30px' %>
                      <% end %>
                    </td>
                    <td><%= post.likes.count %></td>
                    <td>
                      <%= link_to '料理詳細へ',  public_user_post_path(@user.id,post.id) ,'data-turbolinks': false,class: "btn btn-success" %>
                    </td>
                  </tr>
                <% end %>
               <% end %>
            </tbody>
          </table>
          <h5  class="m-3 text-center">投稿ごとタグ</h5>
          <table class="table table-tag m-4">
            <thead>
              <tr>
                <th>タイトル</th>
                <th>タグ</th>
                <th>料理詳細</th>
              </tr>
            </thead>
            <tbody>
              <% @posts.each do |post| %>
                <% if post.is_active == false %>
                <% else %>
                  <tr>
                    <td><%= post.title %></td>
                    <td><%= post.tag_list %></td>
                    <td>
                      <%= link_to '料理詳細へ',  public_user_post_path(@user.id,post.id) ,'data-turbolinks': false,class: "btn btn-success" %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <% if @user == current_user %>
        <button type="button" class="btn btn-primary ml-4" data-toggle="modal" data-target="#exampleModal">
          新規投稿
        </button>
        <% else %>
        <% end %>
        <%= paginate @posts %>
     </div>
  </div>
</div>
<div class="index-link text-center m-4">
  <%= link_to 'ユーザー詳細画面に戻る',  public_user_path(@user.id), class: "btn btn-primary" %>
</div>
      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @post,url:  public_user_posts_path(@user.id),local: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <div class="m-2">
              <%= f.label 'タイトル' %>
              <%= f.text_field :title %>
            </div>
            <div class="m-2">
              <%= f.label 'ジャンル' %>
              <%= select :post, :genre_name, Post.genre_names.keys.to_a, include_blank: true %>
            </div>
            <div class="m-2">
              <%= f.label '値段' %>
              <%= f.text_field :price %>
            </div>
            <div class="m-2">
              <%= f.label '料理説明' %>
              <%=f.text_area :introduction, class: "padding:20px;" %>
            </div>
            <div class="m-2">
              <%= f.label '料理画像' %>
              <%= f.file_field :images, multiple: true %>
            </div>
            <div class="m-2">
              <%= f.label 'タグ' %>
              <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control",placeholder: "複数タグをつける場合は,で区切ってください" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              <%= f.submit '投稿する', class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>