<div class="container">
  <div class="row">
    <div class="col m-5">
      <div class="post">
        <h5 class="text-center m-4">料理詳細</h5>
        <div class="post-top d-flex justify-content-between">
          <div class="post-show">
            <div class="post-title p-2">
              <p class="font-weight-bold">タイトル</p>
              <p class=" border-bottom  border-info"><%= @post.title %></p>
            </div>
            <div class="post-genre p-2">
              <p class="font-weight-bold">ジャンル</p>
              <p class="border-bottom border-info"><%= @post.genre_name %></p>
            </div>
            <div class="post-price p-2">
              <p class="font-weight-bold">値段</p>
              <p class="border-bottom border-info"><%= @post.price %></p>
            </div>
            <div class="post-tags p-2">
              <p class="font-weight-bold">タグ一覧</p>
              <div class="border-bottom border-info">
                <% @post.tags.each do |tag| %>
                  <p class="d-inline-block"><%= tag.name %></p>
                <% end %>
              </div>
            </div>
          </div>
          <div class="likes_buttons">
            <%= render partial: 'public/likes/like', locals: { likes: @like } %>
          </div>
        </div>
        <div class="image">
          <div class="profile-post mx-auto w-75">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% @post.images.each_with_index  do |image, index| %>
                  <% if index == 0 %>
                    <div class="carousel-item active">
                      <%= image_tag (image.url),class: "bd-placeholder-img bd-placeholder-img-lg d-block w-80 mx-auto", style: "height:150px;" %>
                    </div>
                  <% else %>
                    <div class="carousel-item">
                      <%= image_tag (image.url), class: "bd-placeholder-img bd-placeholder-img-lg d-block w-80 mx-auto", style: "height:150px;" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="post-edit text-right m-4">
          <% if @user == current_user %>
          <%= link_to '編集する',  edit_public_user_post_path(@user.id,@post),class: "btn btn-primary" %>
          <% else %>
          <% end %>
          <%= link_to '投稿一覧に戻る',   public_user_posts_path(@user.id), class: "btn btn-success" %>
        </div>
        <div class="post-item-all m-4">
          <div class="post_item-title w-50 mx-auto text-center m-4">
            <h4>具材を投稿する</h4>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>具材</th>
                <th>値段</th>
                <th>入手場所</th>
                <th>具材説明</th>
                <th>具材画像一覧</th>
                <th>料理具材詳細へ</th>
              </tr>
            </thead>
            <tbody>
              <% @post_items.each do |post_item| %>
              <tr>
                <td><%= post_item.item %></td>
                <td><%= post_item.price %></td>
                <td><%= post_item.place %></td>
                <td><%= post_item.introduction %></td>
                <td>
                  <% post_item.images.each do |images| %>
                    <%= image_tag (images.url),width: '30px', height: '30px' %>
                  <% end %>
                </td>
                <td><%= link_to '料理具材詳細へ',  public_user_post_post_items_path(@user.id,@post.id), class: "btn btn-primary" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <div class="button">
            <button type="button" class="btn btn-primary ml-4" data-toggle="modal" data-target="#exampleModal">
              新規投稿
            </button>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">新規投稿</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= form_for @post_item_new,url:  public_user_post_post_item_create_path(@user.id,@post.id),local: true do |f| %>
                  <div class="modal-body">
                    <div class="form-group">
                      <div class="m-2">
                        <%= f.label '具材' %>
                        <%= f.text_field :item %>
                      </div>
                      <div class="m-2">
                        <%= f.label '値段' %>
                        <%= f.text_field :price %>
                      </div>
                      <div class="m-2">
                        <%= f.label '入手場所' %>
                        <%= f.text_field :place %>
                      </div>
                      <div class="m-2">
                        <%= f.label '具材説明' %>
                        <%=f.text_area :introduction, class: "padding:20px;" %>
                      </div>
                      <div class="m-2">
                        <%= f.label '料理画像' %>
                        <%= f.file_field :images, multiple: true %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        <%= f.submit '投稿する', class: "btn btn-primary" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="comment">
          <div id="comments_area comments">
            <%= render partial: 'public/comments/index', locals: { comments: @comment } %>
          </div>
          <% if user_signed_in? %>
            <div class="comment-create text-center m-3">
              <h6 class="text">レビューを投稿する</h6>
              <%= render partial: 'public/comments/form', locals: { comment: @comment, post: @post} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


