<div class="container">
  <div class="row">
    <div class="col">
      <div class="post">
        <div class="post-items">
          <div class="post-title">
            <h5>料理詳細</h5>
            <div class="post-title">
              <p>タイトル</p>
              <p><%= @post.title %></p>
            </div>
            <div class="post-genre">
              <p>ジャンル</p>
              <p><%= @post.genre_name %></p>
            </div>
            <div class="post-price">
              <p>値段</p>
              <p><%= @post.price %></p>
            </div>
            <div class="post-tags">
              <p>タグ一覧</p>
              <% @post_tags.each do|post_tag| %>
                <%= post_tag.tag_name %>
              <% end %>
            </div>
          </div>
          <div class="container">
            <div class="image-index">
              <p>料理画像一覧</p>
            </div>
          <div class="profile-post">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <% @post.images.each_with_index  do |image, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
                <%= image_tag (image.url),class: "bd-placeholder-img bd-placeholder-img-lg d-block w-80 mx-auto", style: "height:150px;" %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= image_tag (image.url), class: "bd-placeholder-img bd-placeholder-img-lg d-block w-80 mx-auto", style: "height:150px;" %>
              </div>
            <% end %>
            <% end %>
            </div>
             <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
          </a>
          </div>
          </div>
          </div>
          <div class="comment-all">
            <h3>いいね件数: <%= @post.likes.count %></h3>
            <% if @user.already_liked?(@post) %>
              <%= link_to  public_user_post_like_path(@user.id,@post.id), method: :delete do %>
              ♡
              <% end %>
            <% else %>
              <%= link_to  public_user_post_likes_path(@user.id,@post.id), method: :post do %>
              ❤️
              <% end %>
            <% end %>
            <h2>いいねしたユーザー</h2>
            <% @likes.each do |like| %>
              <li><%= like.user.full_name %></li>
            <% end %>
          </div>
          <div class="comment">
            <div id="comments_area">
              <%= render partial: 'index', locals: { comments: @comments } %>
            </div>
            <% if user_signed_in? %>
                <div class="comment-create">
                    <h3 class="text-left">レビューを投稿する</h3>
                        <%= render partial: 'form', locals: { comments: @comments } %>
                </div>
            <% end %>
          </div>
          <div class="post-edit">
            <%= link_to '編集する',  edit_public_user_post_path(@user.id,@post),class: "btn btn-primary" %>
            <%= link_to '一覧に戻る',   public_user_posts_path(@user.id), class: "btn btn-success" %>
          </div>
        </div>
        <div class="post-item-all">
          <table class="table">
            <thead>
              <tr>
                <th>具材</th>
                <th>値段</th>
                <th>入手場所</th>
                <th>具材説明</th>
                <th>具材画像一覧</th>
              </tr>
            </thead>
            <tbody>
              <% @post_items.each do |post_item| %>
              <tr>
                <td><%= post_item.item %></td>
                <td><%= post_item.price %></td>
                <td><%= post_item.place %></td>
                <td><%= post_item.introduction %></td>
                <td>
                  <% post_item.images.each do |images| %>
                    <%= image_tag (images.url),width: '30px', height: '30px' %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Mymodel">
  料理具材登録
</button>

<div class="modal fade" id="Mymodel" tabindex="-1" role="dialog" aria-labelledby="Mymodel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">料理具材登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: @post_item_new,url: public_profile_post_post_item_create_path(@profile.id, @post.id),local: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <div class="m-2">
              <%= f.label '具材' %>
              <%= f.text_field :item %>
            </div>
            <div class="m-2">
              <%= f.label '値段' %>
              <%= f.text_field :price %>
            </div>
            <div class="m-2">
              <%= f.label '入手場所' %>
              <%= f.text_field :place %>
            </div>
            <div class="m-2">
              <%= f.label '具材説明説明' %>
              <%= f.text_area :introduction, class: "padding:20px;" %>
            </div>
            <div class="m-2">
              <%= f.label '具材画像' %>
              <%= f.file_field :images, multiple: true %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <%= f.submit '投稿する', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
