<div class="container">
  <div class="row">
    <div class="col">
      <div class="following-all m-4">
        <% if @users.exists? %>
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th>ユーザーname</th>
              <th>投稿数</th>
              <th>ユーザー詳細</th>
            </tr>
          </thead>
          <tbody>
             <% @users.each do |user| %>
              <tr>
              <% if user.is_active == "F" %>
                <td><%= user.full_name %></td>
                <td><%= user.posts.count %></td>
                <td class="text-success">退会しました</td>
              <% else %>
                <td><%= user.full_name %></td>
                <td><%= user.posts.count %></td>
                <td><%=link_to '詳細へ',  public_user_path(user.id),class:"btn btn-success" %></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>