<div class="container">
  <div class="row">
    <div class="col m-2">
      <h4 class="rooms-title m-2 text-center">ルームユーザー</h4>
      <div class="right-button text-right">
        <%= link_to "ユーザー一覧に戻る",public_users_path,class:"edit-link,btn btn-success p-2" %>
      </div>
      <% @entries.each do |e| %>
        <div class="w-75 mz-auto">
           <%= attachment_image_tag e.user, :image, format: 'jpeg', size: "60x60" %>
            <a class="rooms-user-link" href="/users/<%= e.user.id %>" style="color:black;">
              <%= e.user.full_name %>さん
            </a>
        </div>
      <% end %>
      <hr>
      <div class="chats">
        <div class="chat">
          <% if @messages.present? %>
            <% @messages.each do |m| %>
              <% if m.user.id == current_user.id %>
                <div class="balloon_r">
                  <div class="faceicon">
                    <%= attachment_image_tag m.user, :image, format: 'jpeg', size: "60x60" %>
                  </div>
                  <div class="says text-left">
                    <p><%= m.message %></br>
                    <%= m.created_at.strftime("%Y-%m-%d %H:%M")%><br/>
                 </p>
                  </div>
                  </div>
              <% else %>
                <div class="balloon_l">
                  <div class="faceicon">
                     <%= attachment_image_tag m.user, :image, format: 'jpeg', size: "60x60" %>
                  </div>
                  <div class="says">
                    <p><%= m.message %></br>
                    <%= m.created_at.strftime("%Y-%m-%d %H:%M")%></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
          <% end %>
        </div>
        <div class="posts m-4 text-center">
          <%= form_with model: @message,url: public_messages_path,local: :true do |f| %>
            <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
              <%= f.hidden_field :room_id, value: @room.id %>
              <%= f.submit "投稿",class: 'form-submit'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
