<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @user,url:  admins_user_path(@user.id), local: true do |f| %>
        <div class="sign_up_all m-4">
          <h4 class="text-center">ユーザー編集</h4>
            <div class="sign_up_item  mx-auto m-4" style="width:60%;">
              <div class="sign_up_name m-2">
                <p class="my-3">名前</p>
                <div class="d-flex justify-content-between">
                  <p>姓　　<%= f.text_field :first_name %></p>
                  <p>名　<%= f.text_field :last_name %></p>
                </div>
              </div>
              <div class="sign_up_name_kana m-2">
                <p class="my-3">名前（カナ）</p>
                  <div class="d-flex justify-content-between">
                    <p>セイ　<%= f.text_field :first_name_kana %></p>
                    <p>メイ　<%= f.text_field :last_name_kana %></p>
                  </div>
              </div>
              <div class="user-image d-flex justify-content-between m-3">
                <p>ユーザー画像</p>
                <div><%= f.attachment_field :image %></div>
              </div>
              <div class="email d-flex justify-content-between m-3">
                <p>メールアドレス</p>
                <p><%= f.text_field :email %></p>
              </div>
              <div class="phone_number d-flex justify-content-between m-3">
                <p>電話番号</p>
                <p><%= f.text_field :phone_number %></p>
              </div>
              <div class="users-image d-flex justify-content-between m-3">
                 <p>インスタグラムID</p>
                 <p><%= f.text_field :instagram_id %></p>
              </div>
              <div class="user-introduction d-flex justify-content-between m-3">
                <p>自己紹介</p>
                <p><%= f.text_area :introduction %></p>
              </div>
              <div class="user-is_active d-flex justify-content-around m-3">
                <div>
                  <%= f.radio_button :is_active, 'E', checked: true %>
                  <%= f.label :is_active, "登録中" %>
                </div>
                <div>
                  <%= f.radio_button :is_active, 'F'  %>
                  <%= f.label :ranki, "退会済み" %>
                </div>
              </div>
                <div class="submit text-center">
                  <%= f.submit '決定する', class: "btn btn-primary text-white" %>
                </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>