<div class="container">
  <div class="row">
    <div class="col">
      <div class="user-all">
        <div class="user-title">
          <h4 class="mb-5 text-center">ユーザー一覧</h4>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>ユーザーネーム</th>
              <th>ユーザー画像</th>
              <th>投稿数</th>
              <th>フォロー数</th>
              <th>フォロワー数</th>
              <th>ユーザーステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
              <td><%= attachment_image_tag user, :image, :fill, 60, 60 %></td>
              <td><%= user.posts.count %></td>
              <td><%= user.followings.count %></td>
              <td><%= user.followers.count %></td>
              <td>
                <% if user.is_active == "E" %>
                  <p class="text-success">登録済み</p>
                <% else user.is_active == "F" %>
                  <p class="text-success">退会済み</p>
                <% end %>
              </td>
              <td>
                <%= link_to 'ユーザー詳細へ',admins_user_path(user.id), class: "btn btn-success" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>