 <div class="container">
   <div class="row">
     <div class="col">
       <h6 class="m-4 text-center">いいねユーザー一覧</h6>
       <table class="table">
         <thead>
           <tr>
              <th>ユーザーネーム</th>
              <th>ユーザー画像</th>
              <th>投稿数</th>
              <th>フォロー数</th>
              <th>フォロワー数</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @post.likes.each do |like| %>
            <tr>
              <td><%= like.user.full_name %></td>
              <td><%= attachment_image_tag like.user, :image, :fill, 60, 60 %></td>
              <td><%= like.user.posts.count %></td>
              <td><%= like.user.followings.count %></td>
              <td><%= like.user.followers.count %></td>
              <td>
                <%= link_to 'ユーザー詳細へ',public_user_path(like.user_id), class: "btn btn-success" %>
              </td>
            </tr>
          <% end %>
          </tbody>
       </table>
     </div>
   </div>
 </div>