<div class="container">
  <div class="row">
    <div class="col">
      <div class="profile">
        <div class="profile">
          <div class="profile-title">
             <h2>マイページ</h2>
          </div>
          <div class="user-name">
            <%= @user.first_name + @user.last_name %>
          </div>
          <div class="user-name-kana">
            <%= @user.first_name_kana + @user.last_name_kana %>
          </div>
          <% if @user.id == current_user.id %>
            <% else %>
              <% if current_user.following?(@user) %>
                <%= link_to "Unfollow", public_user_relationships_path(@user.id), method: :delete %>
              <% else %>
                <%= link_to "Follow", public_user_relationships_path(@user.id), method: :post %>
              <% end %>
          <% end %>
          <div class="follow">
            <div>フォロー数</div>
            <div><%=link_to @user.followers.count,public_user_followings_path(@user.id) %></div>
            <div>フォロワー数</div>
            <div><%=link_to @user.followings.count, public_user_followers_path(@user.id) %></div>
          </div>
          <% unless @user.id == current_user.id %>
            <% if (current_user.following? @user) && (@user.following? current_user)  %>
              <% if @isRoom == true %>
              <% else %>
                <%= form_for @room, url:  public_rooms_path do |f| %>
                  <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
                  <% end %>
                    <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <div class="user-mypage">
          <div class="profile-all d-flex">
            <div class="profile-list d-flex">
              <div class="profile-image">
                <%= image_tag attachment_url(@user, :image, :fill, 250, 250, format: "jpg",fallback: "user.jpeg") %>
              </div>
              <div class="user-path m-4">
                <div class="user-item d-flex">
                  <div class="user-name m-4">
                    <p>名前</p>
                    <div><%= @user.full_name %></div>
                  </div>
                  <div class="name-kana">
                    <p>名前(カナ)</p>
                    <div><%= @user.full_name_kana %></div>
                  </div>
                    <div class="profile-instagram_id m-4">
                      <p>instagram_id</p>
                      <div><%= @user.instagram_id %></div>
                    </div>
                </div>
                  <div class="introduction m-4">
                    <p><%= @user.introduction %></p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="user-post">
          <%= link_to '投稿する',  public_user_posts_path(@user.id), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
