<div class="container">
  <div class="row">
    <div class="col">
      <div class="search_posts m-4">
        <div class="post-title text-center">
          <h4 class="w-50 mx-auto mb-5">投稿一覧</h4>
        </div>
        <div class="post-header d-flex">
          <div class="post-search">
            <%= form_with url:  public_posts_all_path,method: :post, local: true do |f| %>
              <%= f.text_field :posts_all,value: @posts_all ,placeholder: "投稿を検索する" %>
              <%= f.submit '検索', :name => nil %>
            <% end %>
          </div>
          <div class="seach-header w-25 text-center" style="margin:0 0 0 auto;">
          <div class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">検索条件</div>
            <div id="multiCollapseExample1" class=" collapse multi-collapse text-center m-3"  aria-expanded="false">
              <%= form_with url: public_search_all_path, local: true do |f| %>
                <div>
                  <%= f.radio_button :ranking, 1, checked: true %>
                  <%= f.label :ranking, "いいねが多い順" %>
                </div>
                <div>
                  <%= f.radio_button :ranking,2 %>
                  <%= f.label :ranking, "コメントが多い順" %>
                </div>
                <div>
                  <%= f.radio_button :ranking,3 %>
                  <%= f.label :ranking, "新着順" %>
                </div>
                <div class="submit">
                  <%= f.submit '決定する', class: "btn btn-secondary text-white" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="seach-main text-center">
          <% @posts.each do |post| %>
            <% if post.user.is_active == 'F' %>
            <% else %>
              <div class="posts d-inline-block text-center m-5" style="width:35%;">
                <div class="user-name"><%= post.user.full_name %></div>
                <div class="post-title d-flex justify-content-between w-75" style="margin:20px auto;">
                  <div><%= post.title %></div>
                  <div>
                    ❤️<%=  post.likes.count%>
                    📝<%= post.comments.count %>
                  </div>
                </div>
                <div class="m-2">
                  <% post.tags.each do |tag| %>
                    <div class="d-inline-block"><%= tag.name %></div>
                  <% end %>
                </div>
                <div class="image m-2">
                  <div class="profile-post mx-auto w-75">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <% post.images.each_with_index  do |image, index| %>
                          <% if index == 0 %>
                            <div class="carousel-item active">
                              <%= image_tag (image.url),class: "bd-placeholder-img bd-placeholder-img-lg d-block w-50 mx-auto", style: "height:80px;" %>
                            </div>
                          <% else %>
                            <div class="carousel-item">
                              <%= image_tag (image.url), class: "bd-placeholder-img bd-placeholder-img-lg d-block w-50 mx-auto", style: "height:80px;" %>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="seacrh-all-links mt-2">
                  <%= link_to '投稿詳細へ',  public_user_post_path(post.user_id,post.id), class: "btn btn-primary"  %>
                </div>
                <div class="flex-path mt-2">
                  <%= link_to "いいねしたユーザー", public_user_post_likes_path(post.user_id,post.id), class: "btn btn-success"%>
                </div>
               </div>
            <% end %>
          <% end %>
          <div><%= link_to '全ての投稿', public_search_all_path,class:"btn btn-primary" %></div>
        </div>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div


