<div class="container">
  <div class="row">
    <div class="col">
      <div class="search_posts">
        <div class="post-title">
          <h4>投稿一覧</h4>
        </div>
        <div class="seach-header w-25 text-center" style="margin:0 0 0 auto;">
           <div class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">検索条件</div>
            <div id="multiCollapseExample1" class=" collapse multi-collapse text-center m-3"  aria-expanded="false">
              <%= form_with url: public_search_all_path, local: true do |f| %>
                <div>
                  <%= f.radio_button :ranking, 1, checked: true %>
                  <%= f.label :ranking, "いいねが多い順" %>
                </div>
                <div>
                  <%= f.radio_button :ranking,2 %>
                  <%= f.label :ranking, "コメントが多い順" %>
                </div>
                <div>
                  <%= f.radio_button :ranking,3 %>
                  <%= f.label :ranking, "新着順" %>
                </div>
                <div class="submit">
                  <%= f.submit '決定する', class: "btn btn-secondary text-white" %>
                </div>
              <% end %>
            </div>
        </div>
        <div class="seach-main text-center" style="width:20%;">
          <% @posts.each do |post| %>
            <div class="post-title d-flex justify-content-between">
              <div><%= post.title %></div>
              <div>❤️<%=  post.likes.count%></div>
            </div>
            <div>
              <% post.tags.each do |tag| %>
                <p class="d-inline-block"><%= tag.name %></p>
              <% end %>
            </div>
            <div class="image">
              <div class="profile-post mx-auto w-75">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <% post.images.each_with_index  do |image, index| %>
                      <% if index == 0 %>
                        <div class="carousel-item active">
                          <%= image_tag (image.url),class: "bd-placeholder-img bd-placeholder-img-lg d-block w-75 mx-auto", style: "height:80px;" %>
                        </div>
                      <% else %>
                        <div class="carousel-item">
                          <%= image_tag (image.url), class: "bd-placeholder-img bd-placeholder-img-lg d-block w-75 mx-auto", style: "height:80px;" %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% if @user.already_liked?(post) %>
              <div class="like-delete mb-2">
                <%= link_to  public_user_post_like_path(@user.id,post_id: post.id, id: post.likes[0].id),class: "liked text-dark", method: :delete, remote: true do %>
                  いいねを取り消す♡
                <% end %>
              </div>
            <% else %>
            <div class="like-create mb-2">
              <%= link_to  public_user_post_likes_path(@user.id,post.id), method: :post,class: "text-dark", remote: true do %>
                いいねする❤
              <% end %>
            </div>
            <% end %>
            <div class="flex-path">
              <%= link_to "いいねしたユーザー", public_user_post_likes_path(@user.id,post.id), class: "btn btn-success"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div


