<div class="container">
  <div class="row">
    <div class="col">
      <div class="user-title">
        <h5>ユーザー詳細</h5>
      </div>
      <div class="user-name">
        <%= @user.first_name + @user.last_name %>
      </div>
      <div class="user-name-kana">
        <%= @user.first_name_kana + @user.last_name_kana %>
      </div>
      <% if @user.id == current_user.id %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to "Unfollow", public_user_relationships_path(@user.id), method: :delete %>
        <% else %>
          <%= link_to "Follow", public_user_relationships_path(@user.id), method: :post %>
        <% end %>
      <% end %>
        <div class="follow">
          <div>フォロー数</div>
          <div><%=link_to @user_followers.count,public_user_followings_path(@user.id) %></div>
          <div>フォロワー数</div>
          <div><%=link_to @user_following.count, public_user_followers_path(@user.id) %></div>
        </div>
        <% unless @user.id == current_user.id %>
        <% if (current_user.following? @user) && (@user.following? current_user)  %>
        <% if @isRoom == true %>
        <% else %>
          <%= form_for @room, url:  public_rooms_path do |f| %>
            <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
          <% end %>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>