<div class="container">
  <div class="row">
    <div class="col m-4">
      <div class="user-title">
        <h4 class="text-center mb-5">ユーザー詳細</h4>
      </div>
      <div class="mypage-path d-flex justify-content-around">
        <div class="name w-50">
          <div class="user-name p-2">
            <div class="font-weight-bold">名前</div>
            <div class="border-bottom  border-info"><%= @user.full_name %></div>
          </div>
          <div class="user-name-kana p-2">
            <div class="font-weight-bold">名前(カナ)</div>
            <div class="border-bottom  border-info"><%= @user.full_name_kana%></div>
          </div>
        </div>
        <div class="chat-room d-flex">
          <div class="follow">
            <div class="following  p-2">
              <div class="font-weight-bold">フォロー数</div>
              <div class="border-bottom  border-info"><%=link_to @user.followings.count,public_user_followings_path(@user.id), class:"text-success" %></div>
            </div>
            <div class="followers  p-2">
              <div class="font-weight-bold">フォロワーー数</div>
              <div class="border-bottom  border-info"><%=link_to @user.followers.count, public_user_followers_path(@user.id), class:"text-success" %></div>
            </div>
          </div>
          <div class="follow-link">
            <div class="followings mt-2 ml-5">
              <% if @user.id == current_user.id %>
              <% else %>
                <% if current_user.following?(@user) %>
                  <%= link_to "Unfollow", public_user_relationships_path(@user.id), method: :delete,class: "btn btn-success mt-4" %>
                <% else %>
                  <%= link_to "Follow", public_user_relationships_path(@user.id), method: :post,class:"btn btn-success mt-4" %>
                <% end %>
              <% end %>
            </div>
            <div class="chat-room my-2 ml-5">
            <% unless @user.id == current_user.id %>
              <% if (current_user.following? @user) && (@user.following? current_user)  %>
                <% if @isRoom == true %>
                  <%= link_to 'チャットを始める',  public_room_path(@roomId), class:"btn btn-primary" %>
                <% else %>
                  <%= form_for @room, url:  public_rooms_path do |f| %>
                    <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
                    <% end %>
                    <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      </div>
      <div class="user-mypage w-75 mx-auto m-4 text-center">
        <div class="profile-list">
          <div class="profile-image mx-auto w-75 text-center">
            <h4 class="m-4">プロフィール画像</h4>
              <%= attachment_image_tag @user, :image, format: 'jpeg', size: "250x250" %>
          </div>
          <div class="user-path m-4">
            <div class="user-instagram_id p-2">
              <div class="font-weight-bold">インスタグラムID</div>
              <div class="border-bottom  border-info"><%= @user.instagram_id%></div>
            </div>
            <div class="user-introduction p-2">
              <div class="font-weight-bold">自己紹介</div>
              <div class="border-bottom  border-info"><%= @user.introduction%></div>
            </div>
            <div class="user-introduction p-2">
              <div class="font-weight-bold">投稿数</div>
              <div class="border-bottom  border-info"><%=link_to @user.posts.count, public_user_posts_path(@user.id), class:"text-success"%></div>
            </div>
          </div>
        </div>
      </div>
        <div class="user-item  d-flex w-50 mx-auto justify-content-center">
          <% if @user.id == current_user.id %>
            <div class="user-post m-2">
              <%= link_to '投稿する',  public_user_posts_path(@user.id), class: "btn btn-success" %>
            </div>
          <% else %>
          <% end %>
          <div class="user-all-link m-2">
            <%= link_to 'ユーザー一覧へ',public_users_path,class: "btn btn-secondary" %>
          </div>
          <div class="user-all-link-posts m-2">
            <%= link_to '投稿一覧へ', public_user_posts_path(@user.id),class:"btn btn-info" %>
          </div>
        </div>
    </div>
  </div>
</div>