<!DOCTYPE html>
<html>
  <head>
    <title>FavoriteFood</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path,method: :delete  %>
    <% end %>
  </header>
  <body>

    <%= yield %>
  </body>

</html>


