<!DOCTYPE html>
<html>
  <head>
    <title>FavoriteFood</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <div class="header-item d-flex justify-content-around">
    <% if admin_signed_in? %>
      <li class="mx-4" style="list-style:none;"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-dark rounded border border-dark p-2" %></li>
    <% elsif user_signed_in? %>
       <li class="mx-4" style="list-style:none;"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-dark rounded border border-dark p-2" %></li>
       <li class="mx-4" style="list-style:none;"><%= link_to "検索",  public_search_all_path, class: "text-dark rounded border border-dark p-2" %></li>
      <li class="mx-4" style="list-style:none;"><%= link_to "マイページ",   public_users_mypage_path, class: "text-dark rounded border border-dark p-2" %></li>

    <% else %>
      <li class="mx-4" style="list-style:none;"><%= link_to "ログイン", new_user_session_path, class: "text-dark rounded border border-dark p-2" %></li>
      <li class="mx-4" style="list-style:none;"><%= link_to "新規登録", new_user_registration_path,  class: "text-dark rounded border border-dark p-2" %></li>
    <% end %>
  </div>
  </header>
  <body>

    <%= yield %>
  </body>

</html>


